body {
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.hide {
   display: none;
}

.car, .enemy{
   width: 50px;
   height: 100px;
   background-image: url('./images/player.png');
   background-position: center;
   background-size: cover;
   background-repeat:  no-repeat;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.gameArea {
   width: 300px;
   height: 100vh;
   position: relative;
   margin: auto;
   background: #222;
}

.line {
   position: absolute;
   width: 10px;
   height: 50px;
   background: #fff;
   left: 50%;
   transform: translateX(-50%);
}

.start, .score {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   margin: 0;
   padding: 1rem 0;
   text-align: center;
   z-index: 100;
   color: #FFF;
   font-size: 1.5rem;
   background-color: #cf4747;
   cursor: pointer;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}